* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-wrapper {
  width: 100%;
  background-color: #1A1E1F;
  color: #F4F4F4;
  font-family: Arial, Helvetica, sans-serif;
}
.header-wrapper .header {
  width: 865px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 25px;
}
.header-wrapper .header p {
  font-size: 24px;
}
.header-wrapper .header .nav a {
  text-decoration: none;
  padding: 0 10px;
  font-size: 15px;
  color: #F4F4F4;
}
.header-wrapper .header .nav a:hover {
  color: #00A3E0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.photo-content {
  width: 100%;
  color: #F4F4F4;
}
.photo-content .bg-photo {
  background-image: url(https://static.wixstatic.com/media/93e8a3_9fa23196ddf6427a9da574e2b31a13d2~mv2.jpg/v1/fill/w_1349,h_352,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/93e8a3_9fa23196ddf6427a9da574e2b31a13d2~mv2.jpg);
  height: 352px;
}
.photo-content .bg-photo .title {
  margin: 0 auto;
  width: 1000px;
  padding-top: 120px;
}
.photo-content .bg-photo .title h3 {
  line-height: 1.6em;
  font-size: 34px;
}
.photo-content .bg-photo .title h3 span {
  display: block;
  font-size: 42px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-text {
  width: 100%;
  background-color: #2B2B2B;
  color: #F4F4F4;
}
.main-text .text {
  width: 1000px;
  margin: 0 auto;
  padding: 70px;
}
.main-text .text p {
  font-size: 28px;
  padding-bottom: 20px;
  line-height: 1.6em;
}
.main-text .text a {
  text-decoration: none;
  color: #00AEF3;
  font-size: 20px;
}
.main-text .text a:hover {
  color: silver;
  transition: 0.4s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-container {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  flex-wrap: wrap;
  background-color: #161616;
  padding-bottom: 50px;
}
.card-container .card {
  width: 300px;
  color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgb(0, 0, 0);
  margin: 20px;
  border: 0.5px solid silver;
}
.card-container .card .img-size {
  width: 100%;
}
.card-container .card .card-content {
  padding: 25px;
}
.card-container .card .card-content p {
  color: #F4F4F4;
  font-size: 28px;
}
.card-container .card .card-content .pad-bot {
  padding-bottom: 70px;
}
.card-container .card .card-content h3 {
  font-size: 18px;
  padding-bottom: 30px;
}
.card-container .card .card-content p {
  font-size: 15px;
  color: #F4F4F4;
}
.card-container .card .card-content #pad {
  padding-bottom: 50px;
}
.card-container .card .card-content #pad1 {
  padding-bottom: 50px;
}
.card-container .card .card-content .btn {
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
  color: #00A3E0;
  margin-top: 16px;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.questions-wrapper {
  width: 100%;
  background-color: #161616;
  color: #F4F4F4;
  padding: 100px;
}
.questions-wrapper .first-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 865px;
  padding: 15px 0;
}
.questions-wrapper .first-question .large-font {
  font-size: 24px;
}
.questions-wrapper .first-question a {
  font-size: 20px;
  color: #00A3E0;
  text-decoration: none;
}
.questions-wrapper .first-question a:hover {
  color: silver;
  transition: 0.4s;
}
.questions-wrapper .first-question p {
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.project-partner {
  width: 100%;
  background-color: #2B2B2B;
  color: #F4F4F4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  width: 100%;
  background-color: rgb(40, 41, 43);
  color: #F4F4F4;
  padding-top: 100px;
}
.footer .tbc {
  display: flex;
  justify-content: space-between;
  width: 865px;
  margin: 0 auto;
}
.footer .tbc img {
  padding-bottom: 20px;
}
.footer .tbc .copyright {
  padding-bottom: 20px;
}

/*# sourceMappingURL=main.css.map */
