@import 'reset';


.card-container{
    display: flex;
    justify-content:center;
    padding-top: 100px;
    flex-wrap: wrap;
    background-color: #161616;
    padding-bottom:50px;



    .card{
        width: 300px;
        color: #fff;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 2);
        margin: 20px;
        border:0.5px solid  silver;
        
    
        .img-size{
            width: 100%;
           
        }
        .card-content{
            padding: 25px;

            p{
                color: #F4F4F4;
                font-size: 28px;
                
            }
    
            .pad-bot{
                padding-bottom: 70px;
            }

             h3{
                font-size: 18px;
               padding-bottom: 30px;
            }

            p{
                font-size: 15px;
                color: $text-first-color;
            }
            #pad{
                padding-bottom: 50px;
            }
            #pad1{
                padding-bottom: 50px;
            }

            .btn{
                display: inline-block;
                padding: 8px 16px;  
                text-decoration: none;
                color: $blue-color;
                margin-top: 16px;
                font-size: 16px;
            }
        }    



    
    }
    


}