@import "reset";
@import "responsive";
@import "variables";

section.courses {
  background-color: #161616;
  padding-block: 34px 50px;

  h2 {
    margin: 0 auto 67px;
    max-width: 980px;
    font-size: 24px;
    color: #fff;
    font-weight: normal;
  }

  .card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .card {
      width: 300px;
      color: #fff;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 2);
      margin: 20px;
      border: 0.5px solid rgba(85, 85, 85, 1);

      .img-size {
        width: 100%;
      }
      .card-content {
        padding: 25px;

        p {
          color: #f4f4f4;
          font-size: 28px;
        }

        .pad-bot {
          padding-bottom: 70px;
        }

        h3 {
          font-size: 18px;
          padding-bottom: 30px;
        }

        p {
          font-size: 15px;
          color: $text-first-color;
        }
        #pad {
          padding-bottom: 45px;
        }
        #pad1 {
          padding-bottom: 50px;
        }

        .btn {
          display: inline-block;
          padding: 8px 16px;
          text-decoration: none;
          color: $blue-color;
          margin-top: 16px;
          font-size: 16px;
          padding: 16px 12px;
          display: flex;
          align-items: center;

          span {
            margin-right: 5px;
            font-size: 28px;
          }
        }
      }
    }
  }
}

@include mobile() {
  section.courses{

    
    
    
    //
    .card-container{
      .card{
        .card-content{

         span{
          margin-right: 8px;
         }
          .pad-bot {
            padding-bottom: 0;
          }
          
          #pad1 {
            padding:0;
          }
          
        }
      }
    }
    
  }  
  .courses {
    .course-title {
      font-size: 24px;
      margin: 10px 80px;
    }
  }
}
