@import "variables";
@import "reset";
@import "responsive";

// global----styles-----------

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.header-wrapper {
  width: 100%;
  background-color: #1a1e1f;
  color: $text-first-color;
  font-family: Arial, Helvetica, sans-serif;

  //-------End----header's--Global----styles-----------------

  //----------start---header-------styles----------------------
  .header {
    max-width: 980px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 19px;
    font-weight: bold;

    svg {
      cursor: pointer;
      width: 182px;
      height: 40px;
    }

    //----------start-------------navigation-----styless

    nav {
      .burger {
        width: 26px;
        height: 21px;
        flex-direction: column;
        justify-content: space-between;
        display: none; //

        .bar {
          height: 3px;
          background-color: rgb(219, 219, 219);
          width: 100%;
          border-radius: 1.5px;

          &:first-of-type,
          &:last-of-type {
            width: 50%;
          }

          &:last-of-type {
            margin-left: auto;
          }
        }
      }

      ul {
        list-style: none;
        display: flex;
        align-items: center;
        
        li:first-child{
          display: none;
        }
      }


      a {
        text-decoration: none;
        padding: 0 20px;
        font-size: 14px;
        color: $text-first-color;
        &:hover {
          color: $blue-color;
        }
      }

      ///--------------Mobile----Version-----------------------//
      ///
      ///
      ///
      ///

      @include mobile {
        .burger {
          display: flex;
          background-color: rgb(34, 34, 34);
        }

        ul {
          position: absolute;
          top: 0;
          right: 0;
          translate: 300px 0;
          transition: 0.5s ease-out;
          flex-direction: column;
          text-align: right;
          display: none;
          width: 200px;
          height: 100vh;
          background-color: #222222;

          li {
            margin: 20px 7px 10px 0;

            &:first-child {
              display: block;
              color: rgb(118,118,118);
              font-size: 32px;
              margin-right: 20px;
            }
          }

          &.active {
            display: block;
            translate: 0 0;

          
          }
        }
      }
    }
  }
}
