@import "reset";
@import "variables";
@import 'responsive';


.main-text {
  width: 100%;
  background-color: #2b2b2b;
  color: $text-first-color;

  .text {
    max-width: 980px;
    margin: 0 auto;
    padding: 56px 0;

    p {
      font-size: 28px;
      padding-bottom: 40px;
      line-height: 1.6em;
    }

    a {
      text-decoration: none;
      color: #00aef3;
      font-size: 20px;
      font-weight: bold;

      &:hover {
        color: silver;
        transition: 0.4s;
      }
    }
  }
}
//

@include mobile(){


}
//