@import "variables";
@import "reset";
@import "responsive";

//---------------------------strart-main-photo----Global----------styles--------------

.photo-content {
  width: 100%;
  color: $text-first-color;

  //----------------start-----------

  .bg-photo {
   background-image: url(../images/main-photo.webp);
    background-size: cover;
    background-position: center;
    height: 352px;

    
    .title {
      margin: 0 auto;
      max-width: 980px;
      padding-top: 105px;
      font-weight: bolder;

      h3 {
        line-height: 1.6em;
        font-size: 34px;
        span {
          display: block;
          font-size: 42px;
        }
        span:first-child {
          margin-bottom: 10px;
        }
      }
    }

    @include mobile {
      .title {
        display: grid;
        place-content: center;

        h3 {
          font-size: 22px;
          font-weight: bold;
          width: max-content;
          max-width: 280px;

          span {
            font-size: 24px;
          }
        }
      }
    }
  }
}

