@import "variables";
@import "reset";
@import "responsive";

//---------------------------strart-main-photo----Global----------styles--------------

.photo-content {
  width: 100%;
  color: $text-first-color;

  //----------------start-----------

  .bg-photo {
    background-image: url(../images/93e8a3_9fa23196ddf6427a9da574e2b31a13d2~mv2.webp);

    height: 352px;
    background-size: cover;
    background-position: center;

    .title {
      margin: 0 auto;
      max-width: 980px;
      padding-top: 105px;
      font-weight: bolder;

      h3 {
        line-height: 1.6em;
        font-size: 34px;
        span {
          display: block;
          font-size: 42px;
        }
        span:first-child {
          margin-bottom: 10px;
        }
      }
    }
  }
}

@include mobile(){

  .photo-content{

    .bg-photo{

      .title{
        font-weight: bold;
        
        h3{
          padding-left: 50px;
          line-height: 1.6em;  
          width: 225px;
          font-size: 22px;
          span{
            font-size: 24px;
          }
        }
      }
    }
  }
}
