@import "reset";
@import "variables";
@import 'responsive';

.faq {
  background-color: #161616;
  padding: 30px 0;

  @include mobile {
    padding-inline: 20px;
  }

  .questions-wrapper {
    margin-inline: auto;
    color: white;
    max-width: 900px;

    .questions-header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      a {
        font-size: 20px;
        text-decoration: none;
        color: #00aef3;

        a:hover {
          color: silver;
          transition: 0.4s;
        }
      }

      .large-font {
        font-size: 24px;
      }
    }

    .question-container {
      border-bottom: 1px solid rgb(53, 49, 49);

      .question {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: 15px 0;
        cursor: pointer;

        .arrow-icon {
          transition: 0.3s ease-out;
        }
        .question.expanded .arrow-icon {
          rotate: 180deg;
        }
      }

      p {
        padding-block: 20px;
      }

      .answer {
        margin: 0 auto;
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: 0.3s ease-out;
        pointer-events: none;

        p {
          padding-block: 20px;
        }

        &.active {
          max-height: 500px;
          opacity: 1;
          pointer-events: all;
        }
      }

      .answer h5 {
        margin-bottom: 20px;
      }

      p {
        font-size: 18px;
      }
    }
  }
}
